@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;

@color-accent: #81b3d2;
@color-bg-focus: #669ec0;
@color-bg-active: #5496bd;
@color-bg: #e5e5e5;
@color-text-accent: #333333;
@color-black: #000000;
@color-white: #ffffff;
@color-text-current: #766357;
@color-bg-inner: #f2f2f2;
@color-checkbox-active: #d5d5d5;

@font-family-base: "PT Sans", "Arial", sans-serif;
