.button {
  margin: 0;
  padding: 15px 32px;
  display: block;
  border: none;
  box-sizing: border-box;
  color: @color-white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: @font-family-base;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  cursor: pointer;
  background-color: @color-accent;
}
