.copyright {
  margin: 0;
  padding: 0;
}

.copyright__link {
  margin: 0;
  padding: 0;
  font-family: @font-family-base;
  font-size: 14px;
  line-height: 21px;
  color: @color-black;
  text-decoration: none;
}
