.copyright__link {
  margin: 0;
  padding: 0;
  font-family: @font-family-base;
  font-size: 14px;
  line-height: 26px;
  color: @color-black;
  text-decoration: none;
  vertical-align: middle;

  &:hover .copyright__logo-academy {
    fill: @color-accent;
  }

  &:active .copyright__logo-academy {
    fill: rgba(0, 0, 0, 0.3);
  }
}

.copyright__logo-academy {
  margin-left: 9px;
  width: 27px;
  height: 34px;
  vertical-align: middle;
  fill: @color-black;
}
