.page {
  height: 100%;
  font-size: 14px;
  line-height: 21px;
  font-family: @font-family-base;
}

.page__body {
  margin: 0 auto;
  height: 100%;
  min-width: @mobile-width;
  background-color: @color-bg-inner;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    max-width: @desktop-width;
  }
}
